<footer>
    <div class="container">
        <div class="row">
  
            <div class="col">
                <div class="footer">
                    <h2 class="title">About</h2>
  
                    <p>Return within 30 days of receiving your order</p>
                 
                    <div class="social">
                        <i class="fa fa-facebook-square"></i>
                        <i class="fa fa-google-plus-official"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-snapchat-square"></i>
                </div><br>
  
                    <div class="cards">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                        <i class="fa fa-cc-amex"></i>
                </div>
                </div>
  
                <p><span><i class="fa fa-unlock-alt"></i></span>Secure online payment</p>
            </div>
        
  
            <div class="col ">
                <div class="footer">
                <h2 class="title">Categories</h2>
                    <ul>
                        <li><a routerLink="/wireless" routerLinkActive="active">Wireless</a></li>
                        <li><a routerLink="/wire" routerLinkActive="active">Wired</a></li>
                    </ul>
                </div>
            </div>
  
                <div class="col">
                    <div class="footer">
                    <h2 class="title">Information</h2>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Term & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>  
                </div>  
  
  <div class="col">
    <div class="footer">
        <h2 class="title">Contact</h2>
  
        <div class="address">
            <i class="fa fa-home"></i>Address:XYZ ,New Delhi, India,Pin code: 110055<br>
    </div>
  
    <div class="phone">
        <i class="fa fa-phone-square"></i>Contact Number: 25314 885643<br>
    </div>
  
    <div class="mail">
        <i class="fa fa-envelope-open"></i>Email:headpeofficial@gmai.com
    </div>
  </div>
  </div>
        </div>
    </div>
  
    <div class="copyright">
        <div class="container">
            <marquee bgcolor="black" scrollamount="20" behaviour="alternate" -> 
                <p>Copyright @<script type="text/javascript">document.write(new date().getFullYear()) </script>
                         2020 All rights reserved</p></marquee>
        </div>
    </div>
  
  </footer>