footer{
    background-color: black;
}
.title{
    color:white;
}
p,a{
    color:wheat;
}
.footer{
    color: wheat;
}
i{
    width:20px;
    height: 20px;
    margin: 10px 0;
}
.cards i{
    width:20px;
    height: 20px;
    margin: 10px 10px;
}