<section class="product_info">
    <table>
      <tr><td>
        <img src="../../assets/blackboat1.jpeg"class="center"><br>
        <figure>
          <figcaption>Boat Over Head</figcaption>
        </figure>
        <input type="button" class="btn" value="Details">&nbsp;
        <input type="button" class="btn" value="Add to Cart">
        </td>
        <td>
          <img src="../../assets/blackoneplus1.jpeg" class="center"><br> 
          <figure>
            <figcaption>OnePlus Wireless headphone</figcaption>
          </figure>
          <input type="button" class="btn" value="Details">&nbsp;
          <input type="button"  class="btn"  value="Add to Cart">
    </td>
  
        <td>
          <img src="../../assets/motorola2.jpeg"class="center"><br>
          <figure>
            <figcaption>Motorola Wireless</figcaption>
          </figure>
          <input type="button" class="btn" value="Details">&nbsp;
          <input type="button"  class="btn" value="Add to Cart">
              </td>
      </tr>
  
      <tr>
        <td>
          <img src="../../assets/realme2.jpeg"class="center"><br>
          <figure>
            <figcaption>Realme wireless Over Head</figcaption>
          </figure>
          <input type="button" class="btn" value="Details">&nbsp;
          <input type="button"  class="btn"  value="Add to Cart">
  </td>
  <td>
    <img src="../../assets/realme1.jpeg"class="center"> <br> 
    <figure>
      <figcaption>Realme HeadP</figcaption>
    </figure>
    <input type="button" class="btn" value="Details">&nbsp;
    <input type="button"  class="btn" value="Add to Cart">
  </td>        
  <td>
   <img src="../../assets/realme2.jpeg"class="center"><br>
   <figure>
    <figcaption>Realme wireless Over Head</figcaption>
  </figure>
  <input type="button" class="btn" value="Details">&nbsp;
  <input type="button"  class="btn"  value="Add to Cart">
  
  </td>
        </tr>
      </table>
</section> 