.product_info
{
    
align-items: center;
    margin:10px 0px;
}
.product_info img
{
  margin:20px 30px;
width:100px;
height:100px;
}

.center {
  display: block;
  margin-left: 50px;
  margin-right: auto;
  width: 50%;
}
.product_info img:hover
{
    transform:scale(1,1);
}

.btn
{
  
  float:center;
    background-color: blue;
    color: white;
    
}
table
{
  width:100%;
height:90px;
background-color: wheat;
resize: both;
border-radius: 0px 25px 25px 25px;
border: 1px solid white;
padding:2%;
}

td
{
  width:33%;
  height:80px;
}
figcaption
{
    text-align: left;
    font-weight: bold;
}