<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="topnav">
  <a class="active" href="">HeadP</a>
  <a  href="">Home</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/signup" routerLinkActive="active" >SignUp</a>
  <a  href="#"><i class="fa fa-shopping-basket"></i>Cart</a>
  <input type="text" placeholder="Search.."><span class="searchTerm"><i class="fa fa-search" aria-hidden="true"></i></span>
</div>
