<section class="product_info">
    <table>
      <tr><td>
        <img src="../../assets/sony2.jpeg"class="center"><br>
        <figure>
          <figcaption>Sony Over Head</figcaption>
        </figure>
        <input type="button" class="btn" value="Details">&nbsp;
        <input type="button" class="btn" value="Add to Cart">
        </td>
        <td>
          <img src="../../assets/realme4.jpeg" class="center"><br> 
          <figure>
            <figcaption>Realme on Ears</figcaption>
          </figure>
          <input type="button" class="btn" value="Details">&nbsp;
          <input type="button"  class="btn"  value="Add to Cart">
    </td>
  
        <td>
          <img src="../../assets/philips4.jpeg"class="center"><br>
          <figure>
            <figcaption>philips WiredHead</figcaption>
          </figure>
          <input type="button" class="btn" value="Details">&nbsp;
          <input type="button"  class="btn" value="Add to Cart">
              </td>
      </tr>
  
      <tr>
        <td>
          <img src="../../assets/boat4.jpeg"class="center"><br>
          <figure>
            <figcaption>Listen with Boat</figcaption>
          </figure>
          <input type="button" class="btn" value="Details">&nbsp;
          <input type="button"  class="btn"  value="Add to Cart">
  </td>
  <td>
    <img src="../../assets/harman4.jpeg"class="center"> <br> 
    <figure>
      <figcaption>Harman</figcaption>
    </figure>
    <input type="button" class="btn" value="Details">&nbsp;
    <input type="button"  class="btn" value="Add to Cart">
  </td>        
  <td>
   <img src="../../assets/jbl4.jpeg"class="center"><br>
   <figure>
    <figcaption>JBL in Ears</figcaption>
  </figure>
  <input type="button" class="btn" value="Details">&nbsp;
  <input type="button"  class="btn"  value="Add to Cart">
  
  </td>
        </tr>
      </table>
</section>
